<!DOCTYPE html>

<html>
<head>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <style>
body    { font: tahoma; }
th      { text-align: left; }
th,td   { white-space: nowrap; }
    </style>
</head>
<body>
    <div>
        Click here to upload pictures/video:
        <form action="{{.UploadURL}}" method="post" enctype="multipart/form-data">
            <input type="file" name="files" multiple="multiple" />
            <input type="submit" value="Upload" />
        </form>
    </div>
    <div>
        <h3>Uploaded files:</h3>
        <table border="0" cellspacing="2">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Last Modified</th>
                    <th>Size</th>
                    <th>Type</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
{{range .Files}}
                <tr data-filename="{{.Name}}">
                    <td>{{if eq .Mime "image/jpeg"}}<img src="{{.ThumbURL}}" alt="{{.Name}}" />{{end}}</td>
                    <td><a href="{{.PicURL}}" target="_blank">{{.Name}}</a></td>
                    <td>{{.LastMod}}</td>
                    <td style="text-align: right">{{.Size}}</td>
                    <td>{{.Mime}}</td>
                    <td><a class="delete_link" href="#">Delete</a></td>
                </tr>
{{end}}
            </tbody>
        </table>
    </div>
    <script><!--
$(function() {
    $('a.delete_link').click(function(e) {
        e.preventDefault();
        try {
            var link = $(this);
            var tr = link.parents("tr");
            var filename = tr.attr('data-filename');
            if (!confirm('Confirm deletion of \'' + filename + '\''))
                return false;

            $.ajax({
                type: 'POST',
                url: '{{.DeleteURL}}',
                data: { "filename": filename },
                success: function(result) {
                    if (!result.success) {
                        return false;
                    }

                    tr.remove();
                    return true;
                }
            });
        } finally {
            return false;
        }
    });
});
//-->
    </script>
</body>
</html>